p{
    font-size: 50pt;
    margin-left: 20%;
    margin-right: 10%;
    
}
#page-wrap{
    align-content: center;
    
}

button{
    width: 50%;
    box-shadow:  0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

input{
    width: 50%;
    
}

